$primaryColor: Navy;
$secondaryColor: rgb(87, 87, 206);
$accentColor: #c5776d;

$fontColor: #333;

$defaultFont: "Roboto", serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 600;

$gutter: 16px;